@page
@model Server.Pages.ErrorModel

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Error.</h1>
            <h2 class="text-danger">Se produjo un error al procesar su solicitud.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Modo Desarrollador</h3>
            <p>
                Cambiar al <strong>Development</strong> El entorno muestra información detallada sobre el error que se produjo..
            </p>
            <p>
                <strong>El entorno de desarrollo no debe habilitarse para las aplicaciones implementadas.</strong>
                Puede resultar en mostrar información confidencial de excepciones a los usuarios finales.
                Para la depuración local, habilite el <strong>Development</strong> estableciendo el environment <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
                y reiniciar la app.
            </p>
        </div>
    </div>
</body>

</html>
